
/* section2 style start */
.select-dropdown {
    width: 100%;
} 
.image-width {
    width: 100%;
}
/* adds depth to the carousel */
.back-shadow {
    box-shadow: 0 20px 15px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 15%);
}
/* section2 style end */
img {
    width: 100%;
}
#dropdownStates {
    width: 100%;
}
#copyright{
    background-color: rgba(0, 0, 0, 0.2);
}
.covidStatsEl {
    list-style: none;
}
#stats-container {
    width: 100%;
    font-size: x-large;
}

/* NavBar_Section 1 */
.kiwiDragon {
    position: sticky;
    top: 0;
    z-index: 100;
}